.img{
  background-color: #083b4e;
  padding: 8rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  height: 100vh;
}
.imgg{
  background-color: #083b4e;
  padding: 5rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;

}
ul{
  list-style: none ;
}
.prof{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: gainsboro;
  border: 1px solid #20DF7F;
}
.vrt{
  background-color: #20DF7F;
}
.buttonp{
  background-color: #083b4e;
}
.imagee{
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: gainsboro;
}
.fond{
  background-color: #083b4e;
  margin-left: 14rem;
}
input::placeholder {
  color: white !important;
}

.texte{
  color: #083b4e;
  text-align: center;
}

label{
  font-weight: bold;
}
@media screen and (max-width: 440px) {
  .fond {
    margin: 0;
    width: 100% !important;
  }
  .connec{
    margin-left: 5rem !important;
  }
  .texte{
    text-align: start;
  }
  .navb{
    width: 500%;
    z-index: 1000;
  }
  .margine{
    gap: 2rem;
  }
  .imgg{
    background-color: #083b4e;
    padding: 3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  
  }
  .img{
    background-color: #083b4e;
    padding: 5rem;
    padding-top: 28px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 60vh;
  }
  .textee{
    font-size: 20px;
    margin-bottom: 0;
  }
  .mag{
    margin-top: 0 !important;
    margin: 0 !important;
  }
  .form{
    margin-left: 0 !important;
  }
  .inpt{
    width: 100% !important;
  }
  .sidebar {
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
}
.navb{
  width: 90% !important;
}
}
.form{
  margin-left: 2rem;
}
.bag{
  background-color: #083b4e;
  color: white;
  padding: 10px;
  height: 200vh;
}
.couleur{
  background-color: #20DF7F;
  cursor: pointer;
}
.hover:hover{
  background-color: #20DF7F;
  cursor: pointer;
}
.valid{
  color: #20DF7F;
}

.sidbar {
  width: 250px; 
  background-color: #f0f0f0; 
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contenu {
  flex: 1; 
  padding: 20px;
}
/* sidebarr */
.sidebar {
  width: 250px; 
  background-color: #083b4e;
  transition: transform 0.3s ease; 
}

@media (max-width: 768px) {
  .sidebar {
      position: absolute; 
      top: 0;
      left: 0;
      height: 100%;
      z-index: 1000;
  }
  .flx{
    margin-top: 5rem;
    width: 100%;
    gap: 3rem;
  }
  .margine{
    margin: 0;
  }
  
 
}
.flx{
  margin: 2px;
  margin-top: 5rem;
}
.card-header{
  background-color: #20DF7F;
}
/* .posi{
 z-index: 1000;
} */
.navb{
  width: 82%;
  z-index: 500;
}
.progress-bar{
  background-color: #20DF7F;
 
}
.left{
  float: left !important;
  margin-top: 1rem !important;
}
.table{
--bs-table-bg: none;


}
.table>:not(caption)>*>*{
  color: rgb(58, 58, 58);
  padding: 8px;
}
.vert{
  color: #20DF7F;
  font-weight: bold;
}
.large {
  height: 300px; 
}
.cardwid{
  height: 290px;
}
.long{
  height: 120px;
}

